# Libtorch binaries
libtorch/

# Build files
build/
*.egg-info/
dist/

# Scratchpads
scratchpad.ipynb
scratchpad.py

# vs code files
.vscode/

# Pycache
**/__pycache__

# Other
keys-queries/
kqv/
profile
test.py
profiler.sh
profiler-output.txt
output/
